
h1
{
	color:black; 
	font-size: 40px;
}
.body_backgorund {
background-image:url("image.jpg");
background-position:center;
background-size:cover;
}

#mylogo{
border-width: 10px;
border-style:dotted;
background-color:blanchedalmond;

}

#mylogo{
position: center;
}
